$desktop: "only screen and (min-width: 1400px)";
$notebook: "only screen and (min-width: 769px) and (max-width: 1399px)";
$tablet: "only screen and (min-width: 426px) and (max-width: 768px)";
$smartphone: "only screen and (max-width: 425px)";
