@use "../base/colors";
@use "../base/functions";

.c-button {
  border: none;
  color: colors.$white;
  font-weight: 700;
  background-color: colors.$pink;

  &-white {
    border-radius: 3rem;
    border: 0.1rem solid colors.$pink;
    background-color: colors.$white;
    color: colors.$pink;
    font-size: functions.fluid-size(10, 16, 375, 1400);
  }

  &-rounded {
    font-size: functions.fluid-size(12, 22, 375, 1400);
    border-radius: 4rem;
    box-shadow: 0 0 5px rgba($color: #000000, $alpha: 0.3);
  }

  &-square {
    border-radius: 0.8rem;
    font-size: 1.6rem;
  }
}
